---
import Standard from "../layouts/Standard.astro"
---

<Standard title="Palette">    
    <div class="colours">
        <h2>Colour Palette</h2>
        <p>These are the colours used in this template. They can all be adjusted in CSS variables.</p>
    
        <div class="colour">
            <h3>Base</h3>
            Primary Background
            <div class="swatch" style="background: var(--colour-base);" />
        </div>

        <div class="colour">
            <h3>Surface</h3>
            Secondary Background
            <div class="swatch" style="background: var(--colour-surface);" />
        </div>

        <div class="colour">
            <h3>Overlay</h3>
            Tertiary Background
            <div class="swatch" style="background: var(--colour-overlay);" />
        </div>

        <div class="colour">
            <h3>Muted</h3>
            Low Contrast Foreground
            <div class="swatch" style="background: var(--colour-muted);" />
        </div>

        <div class="colour">
            <h3>Subtle</h3>
            Medium Contrast Foreground
            <div class="swatch" style="background: var(--colour-subtle);" />
        </div>

        <div class="colour">
            <h3>Text</h3>
            Hight Contrast Foreground
            <div class="swatch" style="background: var(--colour-text);" />
        </div>

        <div class="colour">
            <h3>Brand A</h3>            
            <div class="swatch" style="background: var(--colour-a);" />
            <ul class="syntax-highlights" style="color: var(--colour-a);">
                <li>builtins</li>
            </ul>
        </div>

        <div class="colour">
            <h3>Brand B</h3>            
            <div class="swatch" style="background: var(--colour-b);" />
            <ul class="syntax-highlights" style="color: var(--colour-b);">
                <li>strings</li>
            </ul>
        </div>

        <div class="colour">
            <h3>Brand C</h3>            
            <div class="swatch" style="background: var(--colour-c);" />
            <ul class="syntax-highlights" style="color: var(--colour-c);">
                <li>booleans</li>
                <li>functions</li>
            </ul>
        </div>

        <div class="colour">
            <h3>Brand D</h3>            
            <div class="swatch" style="background: var(--colour-d);" />
            <ul class="syntax-highlights" style="color: var(--colour-d);">
                <li>conditionals</li>
                <li>keywords</li>
            </ul>
        </div>

        <div class="colour">
            <h3>Brand E</h3>            
            <div class="swatch" style="background: var(--colour-e);" />
            <ul class="syntax-highlights" style="color: var(--colour-e);">
                <li>keys</li>
                <li>tags</li>
                <li>types</li>
            </ul>
        </div>

        <div class="colour">
            <h3>Brand F</h3>
            <div class="swatch" style="background: var(--colour-f);" />
            <ul class="syntax-highlights" style="color: var(--colour-d);">
                <li>methods</li>
                <li>parameters</li>
            </ul>
        </div>
    </div>
</Standard>

<style>
    .colours {
        padding: 1rem;
    }   
    
    .colour {
        border: 1px solid var(--colour-subtle);
        border-radius: 0.5rem;
        padding: 1rem;
        margin: 1rem 0;
    }

    .swatch {
        width: 100%;
        height: 3rem;
        border: 1px solid var(--colour-subtle);
        border-radius: 0.5rem;
        margin-top: 1rem;
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
        margin: 1rem 0 0 0;
        padding: 0;

        > li {
            padding: 0.5rem;
            background: var(--colour-overlay);
            border-radius: 0.5rem;
        }
    }
</style>