---

---

<button>
    <slot />
</button>

<style>
    button {
        border: none;
        border-radius: 0.5rem;
        background: var(--colour-a);
        color: var(--colour-text);
        font-weight: bold;
        padding: 0.5rem 1rem;
    }
</style>
