---
---

<footer>
  <div class="container">
    <div class="flex justify-between items-center">
      <div>
        <div class="flex items-center gap-sm">
          <img src="/logo.png" alt="sense|making logo" class="footer-logo">          
        </div>
      </div>      
    </div>
    <div class="copyright">
      <p>&copy; {new Date().getFullYear()} sense|making. All rights reserved.</p>
    </div>
  </div>
</footer>
