<header>
    <img src="/logo-hires.png" alt="Sense Making" />
    <nav>
        <ul>            
            <li><a href="/articles">Articles</a></li>
        </ul>
    </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        padding: 1rem;    
    }

    ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }

    img {
        width: 50%;
    }

    @media (min-width: 768px) {
        img {
            width: 25%;
        }
    }
</style>