---
import { getCollection } from 'astro:content'
const articles = await getCollection('articles')
---

<header class="m-0 p-32 flex justify-between">
    <img src="/logo_dark.png" alt="sense|making" class="w-250" />

    <div>
        <button class="btn" popovertarget="article-list" style="anchor-name:--article-anchor">
            Articles
        </button>
        <ul class="dropdown dropdown-end menu rounded-box bg-base-100 shadow-sm" popover id="article-list" style="position-anchor:--article-anchor">
            {articles.map(article => <li class="text-nowrap"><a href={`/articles/${article.data.slug}`}>{article.data.title}</a></li>)}
        </ul>
    </div>
</header>
