---
type Props = {
    label: string;
    placeholder?: string;
}

const { label, placeholder = '' }: Props = Astro.props;
---

<label>{label}:&nbsp;<input type="text" placeholder={placeholder} /></label>

<style>
    input {
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: solid 1px var(--colour-subtle);
    }
</style>